.sc-footer {
  background: #f1f1f1;
  padding: 50px 0;
}

.a0r-try-banner {
  background: #f1f1f1;
}

body {
  font-family: fakt-web,Helvetica Neue,Hevetica,sans-serif;
  font-size: 14px;
  line-height: 2;
  background-color: #fff;
}
