@import './Vars.styl';
@import './App/App.styl';
@import './Header/Header.styl';
@import './Platforms/Platforms.styl';
@import './Search/Search.styl';
@import './Platforms/Links.styl';
@import './Platforms/Loading.styl';
@import './Platforms/PlatformItem.styl'
@import './Platforms/PlatformsList.styl'
